node_modules/.pnpm/@next+swc-win32-x64-msvc@15.0.0-canary.56/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
